*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 700vh;
    background-color: wheat;
    position: sticky;
}
.container .navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}
.container .navbar .logo{
    width: 25%;
    font-size: 35px;
}
.container .navbar .nav_responsive{
    width: 75%;
    display: flex;
    justify-content: space-between;
    list-style: none;

}
.container .navbar .nav_responsive .nav_center{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.container .navbar .nav_center a{
    text-decoration: none;
    padding: 20px 25px;
    transition: all 0.5s linear;
    font-size: 20px;

}
.container .navbar .nav_center a:hover{
    background-color: aquamarine;
}
.container .navbar .nav_right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .navbar .nav_right .search_box{
    border: 1px solid black;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    margin-right: 15px;
    /* background-color: aquamarine; */
}
.container .navbar .nav_right .search_box input{
    border: none;
    border-radius: 50px;
    padding: 10px;
    background-color: wheat;
}
.container .navbar .nav_right .search_box i{
    padding: 10px 15px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 50px;
    font-size: 20px;
}
.container .navbar .nav_right i{
    font-size: 20px;
}
.container .navbar .hamburger i{
    font-size: 25px;
    animation: burger 1s linear infinite alternate ;
    display: none;
}
@keyframes burger {
    from{
        scale: 1;
    }to{
        scale: 1.5;
    }
}
@media(max-width:1250px){
    .container .navbar .hamburger i{
        display: block;
    }
    .container .navbar .nav_responsive{
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        top: -90%;
        background-color: antiquewhite;
        left: 0;
    }
    .container .navbar .nav_responsive.active{
        top: 10%;
    }
    .container .navbar .nav_responsive .nav_center {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* background-color: antiquewhite; */
    
    }
    
    .container .navbar .nav_responsive .nav_center li{
        width: 100%;
        /* text-align: center; */
    }
    .container .navbar .nav_responsive .nav_center li a{
        display: block;
        text-align: center;
    }
    
}
.container .bg_image{
    width: 100%;
    height: 100vh;
    /* position: absolute; */
    background-image: url(../Image/image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.container .bg_image .model{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .bg_image h1{
    color: white;
    font-size: 3em;
    margin-top: 10px;
}
.container .bg_image h2{
    font-size: 2.5em;
    color: white;
    margin-top: 10px;
}
.container .bg_image p{
    font-size: 1.5em;
    color: white;
    margin-top: 10px;
}
.container .bg_image a{
    margin-top: 10px;
    text-decoration: none;
    padding: 10px 15px;
    background-color: black;
    color: white;
    transition: all 0.5s linear ;
}
.container .bg_image a:hover{
    color:black;
    background-color:white;
}
.container .bg_image a:hover{
    color:black;
    background-color:white;
}
.container .Capital {
    width: 100%;
    max-width: 70%;
    height: 100vh;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid black;
}
.container .Capital .title{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
}
.container .Capital .title .title_capital{
    font-size: 2em;
}
.container .Capital .title .line{
    width: 200px;
    border: 1px solid red;
    margin: 10px;
}
.container .Capital .detail{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.container .Capital .detail img{
    height: 70%;
    width: 100%;;
}
.container .Capital .detail .detail_title{
    font-size: 1.5em;
}
.container .Capital .detail p{
    text-indent: 30px;
    text-align: justify;
    padding: 10px;

}
.container .Capital .detail a{
    text-decoration: none;
    padding: 15px 20px;
    background-color: white;
    color: black;
    margin-right: auto;
}
.container .city{
    width: 100%;
    max-width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: auto;
}
.container .city .city_title{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .city .city_title .title{
    font-size: 2em;
    margin-bottom: 10px;
}
.container .city .city_title .line{
    width: 200px;
    border: 1px solid red;
    margin: 10px;
    margin: 10px;
}
.container .city .content_city{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.container .city .content_city .detail_city{
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.container .city .content_city .detail_city img{
    width: 100%;
    height: 70%;
}
.container .city .content_city .detail_city .detail_title{
    font-size: 1.5em;
}
.container .city .content_city .detail_city p{
    text-indent: 30px;
    text-align: justify;
    padding: 10px;
}
.container .city .content_city .detail_city a{
    text-decoration: none;
    padding: 15px 20px;
    background-color: white;
    color: black;
    margin-right: auto;
}
.container .contact{
    width: 100%;
    max-width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid black;
}
.container .contact .contact_title{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .contact .contact_title .title{
    font-size: 2.5em;
}
.container .contact .contact_title .line{
    width: 200px;
    border: 1px solid red;
    margin: 10px;
    margin: 10px;
}
.container .contact form{
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}
.container .contact form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
.container .contact form textarea{
    width: 100%;
}
.container .contact form a{
    text-decoration: auto   ;
    padding: 15px 20px;
    background-color: black;
    color: white;
    margin-left: auto;
}
.container .footer{
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .footer .social_icon{
    display: flex;
    list-style: none;
}
.container .footer .social_icon li a{
    font-size: 40px;
    padding: 10px;
    background-color: white;
    margin-right: 20px;
    border-radius: 50%;
}
.container .footer .nav_center{
    display: flex;
    margin-top: 25px;
    list-style: none;
}

.container .footer .nav_center li a{
    font-size: 15px;
    text-decoration: none;
    margin-right: 10px;
    color: white;

}